{% extends "proj/baseproj.html.twig" %}
{% block body %}
    <div class="box">
    <div class="about">
    <h1>About</h1>
    <p>Jag har valt att göra ett BlackJack spel för mitt slutprojekt. Eftersom jag tidigare gjorde ett blackjack spel i kmom03 så var det lätt att komma igång med projektet. Jag har gjort om och lagt till saker för det bättre. När man startar spelet så får man välja hur många händer man vill spela(1-3). Detta betyder inte att man bestämmer antal händer för alla rundor. När varje runda är slut så får man bestämma hur många händer man vill spela med och om man vill betta på de olika händerna.</p>
        </div>
        </div>
{% endblock %}