{% extends "proj/baseproj.html.twig" %}
{% block body %}
<div class="center">
    <form method="POST" action="{{ path('projPost') }}">
        <button class="BlackJackButton" type="submit">Play</button>
    </form>
    </div>
{% endblock %}