{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="box">
    <div class="about">
    <h1>Home</h1>
    <p>Hej jag heter olle och bor i Stockholm och Karlskrona</p></div>
        <img src="{{ asset('img/gitavatar.png') }}" alt="" class="bild">
        </div>
{% endblock %}