{% extends "base.html.twig" %}

{% block body %}
<div class="box2"><h1>6C om kodkvalitet</h1>
<h3>Codestyle</h3>
<p>Det finns riktlinjer på hur man ska skriva sin kod för att det ska bli lättare forstå koden. Riktlinjer/kodstil kan till exempel vara att man ska använda sig av camel-case när man namnger variabler och funktioner.</p>
<h3>Coverage</h3>
<p>Coverages ges i procent och talar om hur mycket av koden som är testad. En hög coverage brukar tyda på bra kvalitet på koden.</p>
<h3>Complexity</h3>
<p>Komplexiteten mäter hur svår koden är att förstå och hur svår koden är att upprätthålla/fortsätta utveckla med. Det kan självklart vara bra att ha lite komplexitet men om det blir för mycket så blir det svårt att fortsätta utveckla koden.</p>
</div>
{% endblock %}