    {% extends "base.html.twig" %}
    {% block body %}
    <div class="report">
    <a href="#kmom01">kmom01</a>
    <a href="#kmom02">kmom02</a>
    <a href="#kmom03">kmom03</a>
    <a href="#kmom04">kmom04</a>
    <a href="#kmom05">kmom05</a>
    <a href="#kmom06">kmom06</a>
    <a href="#kmom07">kmom07</a>
    <h2 id="kmom01">kmom01</h2>
    <p>Jag känner att jag har koll på objektorientering från tidigare kurser. Jag känner mig säker i hur jag skapar klasser och tildelar dem attribut och metoder. Känner mig också säker i att skapa instanser av objekt och subklasser till andra klasser. Detta och en del mer. Objektorientering i php känns rätt så likt objekt orienteringen i python. Man kan ha attribut och metoder i en klass på samma sett. Man kan också skapa en instans av ett objekt på ungefär samma sett. Förutom att man behöver skriva 'new'. Jag tror att jag kan stå mig på mina kunskaper från oopython kursen för att skapa klasser. Däremot så behöver jag nog vänja mig med phps syntax. Det finns mycket att reflektera kring koden för detta kmom eftersom allt är nytt. Det som jag kikat mest på är dem olika kontrollerna. Dem olika kontrollerna är klasser som använder sig av routes. I klasserna så hittar vi funktioner/metoder som returnerar data och information. Man kan till exempel returnera data som går att ta fram i en twig fil, om man då också returnerar en render. Render är en metod av AbstractController klassen som man kan importera. Om man t.e.x ska kunna skicka data till en twig fil så behöver man skapa en subklass av AbstractController klassen eftersom den innehåller render metoden. Något som jag fick lära mig i php right the way var att php har magiska metoder. Jag läste också mer om namespacing. Jag undrar varför man skulle vilja kunna ha fler klasser med samma namn. Vad händer då när man ska göra en instans av en klass som finns på flera ställen? Mitt TIL för detta kmom är att jobba med symfony</p>
    <hr>
    <h2 id="kmom02">kmom02</h2>
    <h3>Förklara kort de objektorienterade konstruktionerna arv, komposition, interface och trait och hur de används i PHP.</h3>
    <p>Jag tycker att klass-komposition känns rätt lik den klass komposition som finns i python. I denna uppgift så lägger jag till Card instanser i en array för min deck klass. Vad jag har läst om traits så är det som en klass som ska återanvändas i andra klasser men som inte ska användas på egen hand. Ett interface är som en mall som en klass måste förhålla sig till</p>
    <h3>Berätta om din implementation från uppgiften. Hur löste du uppgiften, är du nöjd/missnöjd, vilken förbättringspotential ser du i din koden och dina klasser?</h3>
    <p>Jag tycker det har gått bra att lösa uppgiften. Det svåra är att förstå nya inbyggda funktioner och syntaxen till språket. Jag valde att göra en väldigt simpel card klass med tre attribut. I deck klassen så har jag en konstruktor där jag skapar instanser av card klassen(52 stycken) och sedan lägger till dem i attributet $deck vilket är en array. Jag har andra metoder i klassen såsom get metoder,pullCard och toList. toList funktioner returnerar en array med alla värden för varje card klass som jag har i $deckattributet. pullCard har en parameter $num. $num är hur många kort som dras. Det går säkert att förbättra koden men jag tycker att den definitivt är tillräcklig för denna uppgiften</p>
    <h3>Berätta hur det kändes att modellera ett kortspel med flödesdiagram och psuedokod. Var det något som du tror stödjer dig i din problemlösning och tankearbete för att strukturera koden kring en applikation?</h3>
    <p>Jag använde inte psuedokod för att lösa uppgiften. Däremot har jag använt mig av ett UML diagram. Det gick bra att använda sig av UML diagram. Det har jag gjort tidigare och känner mig bekväm vid. Vid ett sånt här litet programm så känner jag inte att det underlättar så supermycket i strukturen för arbetet. Däremot så kan det vara till hjälp när man jobbar med fler och störra klasser </p>
    <h3>Vilken är din TIL för detta kmom?</h3>
    <p>Mitt TIL detta kmom är att jobba med klasser i php</p>
    <hr>
    <h2 id="kmom03">kmom03</h2>
    <h3>Berätta hur det kändes att modellera ett kortspel med flödesdiagram och psuedokod. Var det något som du tror stödjer dig i din problemlösning och tankearbete för att strukturera koden kring en applikation?</h3>
    <p>Det kändes helt okej att modelera med psuedokod och flödesdiagram. Jag är inte alltid ett jätte stort fan utav det och brukar oftast känna att jag hittar mina lösningar genom att koda mig fram steg för steg. Ibland så kan jag dock skriva ner anteckningar vad jag ska göra i programmet så jag inte glömmer bort det vilket jag gjorde nu.</p>
    <h3>Berätta hur det kändes att modellera ett kortspel med flödesdiagram och psuedokod. Var det något som du tror stödjer dig i din problemlösning och tankearbete för att strukturera koden kring en applikation?</h3>
    <p>I uppgiften så valde jag att ha en spelklass, en klass för alla spelare och en köklass. Spelklassen får spelet att rulla och retuernerar information som jag tar fram i kontrollern, t.ex. om spelrundan är över eller om det är bankens tur att spela. I spelklassen har jag också en array med alla spelare-instanser. Det som var lite trixigt var att få till så att kön inte har en koppling till arrayen med alla spelare utan kön ändrar attribut på spelarinstanserna. Jag gjorde på detta settet eftersom jag inte ville att kön skulle kunna påverka ordningen i spelararrayen. För i spelararrayen så hade jag varje spelarobjekt i ordning och om jag dequeuar och enqueuar den så kommer utskriften på twig-sidan förändras. Det blev svårare än jag trodde att göra så att spelet är möjligt till att ha så många spelare som helst. Just nu är max-antalet 5 för att det inte ska bli för mycket på skärmen. Själva json utskriften blev inte så snygg eftersom jag behövde skriva ut statistik för alla spelare. Hade nog varit snyggare om det bara var en spelare som spela.</p>
    <h3>Vilken är din känsla för att koda i ett ramverk som Symfony, så här långt in i kursen?</h3>
    <p>Jag tycker symfony känns helt okej. Det ända som är riktigt störande är att man inte kan jobba mot objekt i twig filerna utan att man behöver jobba mot arrayer hela tiden. Det blir mycket fulare tycker jag.</p>
    <p>Mitt TIL är bland annat att jobba med ternary operators</p>
    <hr>
    <h2 id="kmom04">kmom04</h2>
    <h3>Berätta hur du upplevde att skriva kod som testar annan kod med PHPUnit och hur du upplever phpunit rent allmänt.</h3>
    <p>Jag tycker att det fungerade bra att testa min egna kod. Det känns vettigt för att se om saker och ting fortfarande fungerar när man uppdaterade sin kod. PHPunit och Xdebug har fungerat bra tillsammans. Jag tycker att man får till en snygg rapport över kodtäckning med Xdebug.</p>
    <h3>Hur väl lyckades du med kodtäckningen av din kod, lyckades du nå mer än 90% kodtäckning?</h3>
    <p>Min totala kodtäckning för klasserna är 91%. För game-klassen så missar jag att testa result metoden vilket jag gärna hade velat göra. Jag testade att göra min result-metod publik och mockade olika värden för att få fram resultat som jag förväntade mig. Däremot så kändes det inte bra att ändra en metod till publik bara för att testa den så jag ändrade om den till privat istället och därav så finns det inte mycket som täcker result metoden.</p>
    <h3>Upplever du din egen kod som “testbar kod” eller finns det delar i koden som är mer eller mindre testbar och finns det saker som kan göras för att förbättra kodens testbarhet?</h3>
    <p>Jag tycker generellt att min kod är testbar. Däremot så blir det svårt i vissa metoder t.e.x. result där jag inte returnerar något utan jag istället bara ändrar attribut värden. Då blir det klurigare om man vill mocka till sig ett resultat.</p>
    <h3>Valde du att skriva om delar av din kod för att förbättra den eller göra den mer testbar, om så berätta lite hur du tänkte.</h3>
    <p>Jag ändrade lite kod detta kursmoment. Till mestadels bara för att röja undan onödig kod som jag inte behövde. Jag tog t.e.x. bort getMoney metoden och la till funktionaliteten i min allPlayers metod istället. Då slipper jag dessutom göra tester för getMoney funktionen och kan istället testa funktionaliteten i mitt test för allPlayers</p>
    <h3>Fundera över om du anser att testbar kod är något som kan identifiera “snygg och ren kod”.</h3>
    <p>Självklart så är det så. Det blir lättare och tydligare att göra tester på metoder som inte är allt för röriga.</p>
    <h3>TIL</h3>
    <p>Mitt TIL detta kmom är att jobba med phpunit.</p>
    <hr>
    <h2 id="kmom05">kmom05</h2>
    <h3>Gick det bra att jobba igenom övningen med Symfony och Doctrine. Något särskilt du tänkte/reagerade på under övningen?</h3>
    <p>Det gick bra att jobba igenom övningen. Det var ganska grundläggande men det var en del saker som jag inte riktigt förstod. Jag hade gärna velat veta vilka inbyggda funktioner som man kan använda sig av för att få fram data från databasen. Hade gärna velat veta mer för att få en uppfattning hur allt fungerar. Annars var det bra!</p>
    <h3>Berätta om din applikation och hur du tänkte när du byggde upp den. Tänkte du något speciellt på användargränssnittet?</h3>
    <p>Jag tänkte att jag skulle göra det simpelt och lätt för användaren att navigera runt biblioteket, ta bort böcker och skapa nya böcker. Man kan välja till att gå till routen allBooks. Här ser man en tabell för alla böcker och får också möjlighet till att klicka sig vidare för att se detaljer om boken och uppdatera boken. Man kan också klicka på delete vilket tar bort boken från databasen och tabellen. Sedan finns det en egen route för createBook där användaren kan skapa en ny bok i databasen.</p>
    <h3>Gick det bra att jobba med ORM i CRUD eller vad anser du om det, jämför gärna med andra sett att jobba med databaser?</h3>
    <p>CRUD känner jag mig bekväm med. Det svåra var att förstå funktionaliteten med ORM. Känns annars rätt lustigt att jobba mot databaser med hjälp av objekt. Jag vet inte riktigt hur jag ska jämföra detta med andra sätt att jobba mot databaser. Ser inte mycket likheter med andra sätt.</p>
    <h3>Vad är din uppfattning om ORM så här långt och relatera gärna till andra sett att jobba med applikationskod mot databaser?</h3>
    <p>Känns somsagt lustigt. Vi har ju jobbat med applikations kod mot databaser tidigare.I PHP så jobbade vi med PDO. Skillnaden är att jag inte kan se vart själva SQL koden skrivs. Vilket känns förvirrande.</p>
    <h3>Vilken är din TIL för detta kmom?</h3>
    <p>Att jobba med ORM</p>
    <hr>
    <h2 id="kmom06">kmom06</h2>
    <p></p>
    <hr>
    <h2 id="kmom07">kmom07</h2>
    <p></p>
    <hr>
    </div>
    {% endblock %}