    {% extends "base.html.twig" %}
    {% block body %}
    <div class="report">
    <a href="#kmom01">kmom01</a>
    <a href="#kmom02">kmom02</a>
    <a href="#kmom03">kmom03</a>
    <a href="#kmom04">kmom04</a>
    <a href="#kmom05">kmom05</a>
    <a href="#kmom06">kmom06</a>
    <a href="#kmom07">kmom07</a>
    <h2 id="kmom01">kmom01</h2>
    <p>Jag känner att jag har koll på objektorientering från tidigare kurser. Jag känner mig säker i hur jag skapar klasser och tildelar dem attribut och metoder. Känner mig också säker i att skapa instanser av objekt och subklasser till andra klasser. Detta och en del mer.</p>
    <hr>
    <h2 id="kmom02">kmom02</h2>
    <p></p>
    <hr>
    <h2 id="kmom03">kmom03</h2>
    <p></p>
    <hr>
    <h2 id="kmom04">kmom04</h2>
    <p></p>
    <hr>
    <h2 id="kmom05">kmom05</h2>
    <p></p>
    <hr>
    <h2 id="kmom06">kmom06</h2>
    <p></p>
    <hr>
    <h2 id="kmom07">kmom07</h2>
    <p></p>
    <hr>
    </div>
    {% endblock %}