    {% extends "base.html.twig" %}
    {% block body %}
    <div class="report">
    <a href="#kmom01">kmom01</a>
    <a href="#kmom02">kmom02</a>
    <a href="#kmom03">kmom03</a>
    <a href="#kmom04">kmom04</a>
    <a href="#kmom05">kmom05</a>
    <a href="#kmom06">kmom06</a>
    <a href="#kmom07">kmom07</a>
    <h2 id="kmom01">kmom01</h2>
    <p>Jag känner att jag har koll på objektorientering från tidigare kurser. Jag känner mig säker i hur jag skapar klasser och tildelar dem attribut och metoder. Känner mig också säker i att skapa instanser av objekt och subklasser till andra klasser. Detta och en del mer. Objektorientering i php känns rätt så likt objekt orienteringen i python. Man kan ha attribut och metoder i en klass på samma sett. Man kan också skapa en instans av ett objekt på ungefär samma sett. Förutom att man behöver skriva 'new'. Jag tror att jag kan stå mig på mina kunskaper från oopython kursen för att skapa klasser. Däremot så behöver jag nog vänja mig med phps syntax. Det finns mycket att reflektera kring koden för detta kmom eftersom allt är nytt. Det som jag kikat mest på är dem olika kontrollerna. Dem olika kontrollerna är klasser som använder sig av routes. I klasserna så hittar vi funktioner/metoder som returnerar data och information. Man kan till exempel returnera data som går att ta fram i en twig fil, om man då också returnerar en render. Render är en metod av AbstractController klassen som man kan importera. Om man t.e.x ska kunna skicka data till en twig fil så behöver man skapa en subklass av AbstractController klassen eftersom den innehåller render metoden. Något som jag fick lära mig i php right the way var att php har magiska metoder. Jag läste också mer om namespacing. Jag undrar varför man skulle vilja kunna ha fler klasser med samma namn. Vad händer då när man ska göra en instans av en klass som finns på flera ställen? Mitt TIL för detta kmom är att jobba med symfony</p>
    <hr>
    <h2 id="kmom02">kmom02</h2>
    <p></p>
    <hr>
    <h2 id="kmom03">kmom03</h2>
    <p></p>
    <hr>
    <h2 id="kmom04">kmom04</h2>
    <p></p>
    <hr>
    <h2 id="kmom05">kmom05</h2>
    <p></p>
    <hr>
    <h2 id="kmom06">kmom06</h2>
    <p></p>
    <hr>
    <h2 id="kmom07">kmom07</h2>
    <p></p>
    <hr>
    </div>
    {% endblock %}